body {
  background-color: #615145
}

.header {
  margin: 0.5em 0em;
}

.splash-bar {
  background-color: #EEE;
  margin: 0.8em 0em 0em 0em;
}

.bar-item, .bar-item-title {
  margin: 0;
  background-color: #6B9997;
  text-align: center;
  border: 1px solid #54787D;
}

.bar-item:hover {
  background-color: #54787D;
}

a .bar-item, .bar-item-title span{
  color: #222;
  display: inline-block;
  padding: 0.5em;
}

@media (max-width: 500px){
  .splash-bar{
    font-size: 10px;
  }
}

img {
  margin-top: 0.1em;
}


/*colors:

tan: #C6CCA5
green: #8AB8A8
blue-green: #6B9997
bluer: #54787D
brown: #615145

*/
